div#header
    a(href="/") Home   |   
    |
    a(href="/users") Users   |   
    |
    a(href="/orders") Order Form   |   
    |
    a(href="/users/" + users.session.userId) My profile   |   
    |
    a(href="/logout") Logout  |